* {
	padding: 0;
	margin: 0;
	transition-timing-function: cubic-bezier(.19, 1, .22, 1);
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	cursor: none;
}
body,html {
	font-family: Microsoft YaHei;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	font-size: 14px;
	overflow-x: hidden;
	position: relative;

}
.main{
	width: 900px;
    padding: 40px 300px 40px 40px;
    background: linear-gradient(to right, rgba(34, 34, 34, 0.8), rgba(34, 34, 34, 0.8) 600px,rgba(34, 34, 34, 0));
	z-index: 1;
	height: 100vh;
}
body::-webkit-scrollbar {display: none;}
.chtitle {
    padding-bottom: 20px;
    font-size: 26px;
    letter-spacing: .2em;
    color: hsla(0, 0%, 100%, .5)
}
.chtitle span {
    color: #fff
}
.chtitle:after {
    content: "";
    display: block;
    width: 10%;
    height: 5px;
    background-color: hsla(0, 0%, 100%, .5);
    margin-top: 13px;
}
#clear {
    background-color: #222222;
    border-radius: 20px;
    height: 200px;
    overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	border: 1px #3c3c3c solid;
}
#avatar {
    height: 200px;
    width: calc(100px + 40%);
    background-size: cover;
    background-position: center;
	background-image: linear-gradient(to right,rgba(34,34,34,0) 0%,rgba(34,34,34,0) 150px,rgba(34,34,34) 300px),url(https://www.z4a.net/images/2022/10/13/70579450_p28_master1200.webp);
}
#persontag {
    padding: 20px 20px 20px 120px;
    line-height: 40px;
    font-size: 15.5px;
	position: absolute;
	right: 0;
	top: 0;
	background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(34, 34, 34, 0.6) 120px);
	width: 410px;
	color: rgb(255, 255, 255);
}
.find a {
    color: #fff;
    text-decoration: none;
	flex-basis: 150px;
	margin: 0 20px 20px 0;
	position: relative;
	flex-grow: 1;
	transition: 0.3s;
}
.find a:hover{
	flex-grow: 10;
	transition: 0.6s;
}
a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.find{
	width: calc(100% + 20px);
}
#linkbox{
	display: flex;
	flex-wrap: wrap;
}
.find .item {
    position: relative;
    height: 90px;
    line-height: 90px;
    transition: all .2s;
    overflow: hidden;
    opacity: 1;
    border-radius: 20px;
	box-shadow: 0 6px 12px -3px var(--color);
}
.item span{
	position: absolute;
	left: 40px;
	letter-spacing:.1em;
	font-weight: bold;
}
.find .item .inner {
    position: relative;
    z-index: 5;
	height: 100%;
}
.find .item .bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    transition: all .15s;
    height: 100%;
}
.find .item i {
    font-size: 90px;
    position: absolute;
    right: 10px;
    bottom: -20px;
    color: rgba(255, 255, 255, 0.35);
    transition: 0.6s;
	filter: blur(10px);
}
.find a:hover i{
	bottom: 0;
	font-size: 40px;
	color: #fff;
	right: 20px;
	filter: blur(0px);
}
.find .item span {
    display: inline-block;
    width: 90px;
    font-size: 20px;
	color: rgba(255, 255, 255, 0.6);
	transition: 0.3s;
}
.find .item:hover span{
	color: white;
	transition: 0.6s;
}
#persontag .tag{
	display: inline-block;
	transition: 0.3s;
}
#persontag .tag:hover{
	margin: 0 3px;
	transition: 0.6s;
}
#morelink{
	right: 20px;
	bottom: 20px;
	background-color: rgba(255, 255, 255, 0.15);
	z-index: 5;
}
.bt{
	border-radius: 32px;
	height: 32px;
	width: 32px;
	text-align: center;
	line-height: 32px;
	position: absolute;
	transition: 0.1s;
}
.bt:hover{
	transition: 0.1s;
	transform: scale(1.1);
}
.bt i:hover{color: white;}
.bt i{display: block;font-size: 20px;color: rgba(255, 255, 255, 0.5);}
.workbox{
	height: 200px;
	border-radius: 20px;
	width: 100%;
	white-space: nowrap;
	background-color: #222222;
	overflow: hidden;
	box-shadow: inset 0 0 30px rgba(18, 18, 18);
	overflow-x: scroll;
	overscroll-behavior:none;
}
.workbox::-webkit-scrollbar {display: none;}
.project{
	height: 160px;
	width: 240px;
	background-color: #272727;
	border-radius: 20px;
	display: inline-block;
	margin: 20px 18px 20px 0;
	border: 1px #2e2e2e solid;
	position: relative;
	padding: 20px;
	vertical-align: top;
}
.project i{
	display: block;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.6);
	position: absolute;
	top: 20px;
	right: 20px;
}
.project h3{
	color: rgba(255, 255, 255, 0.8);
	display: inline-block;
	font-size: 16px;
	margin: 2px;
}
.project h3:hover{
	text-decoration: underline;
	color: white;
}
.project p{
	color: rgba(255, 255, 255, 0.6);
	margin-top: 15px;
}
.language{
	position: absolute;
	bottom: 20px;
	left: 15px;
	color: rgba(255, 255, 255, 0.6);
}
.language div{
	display: inline-block;
	font-size: 13px;
	font-family:'Fira Code', monospace !important;
	font-weight: 600;
}
.language div::before{
	content: '';
	background-color: var(--color);
	height: 10px;
	width: 10px;
	border-radius: 10px;
	display: inline-block;
	margin: 0 5px;
}
@media screen and (max-width:1400px) {
	#background{background-size: 240vh;}
}
@media screen and (max-width:640px) {
	.main{
		width: 100vw;
		padding: 20px;
		background: rgba(34, 34, 34, 0.5);
		height: auto;
	}
	.find a {flex-basis: calc(33vw - 55px);}
	.workbox{
		border-radius: 0;
		width: 100vw;
		left: -20px;
		position: relative;
	}
	@keyframes op2{
		0%{opacity: 0;}
		100%{opacity: 0.1;}
	}
	#video{width: 100%;}
	#scene{left: -1000px;}
	#quote{opacity: 0;}
}
@media screen and (max-width: 570px) {
	#persontag{
		width: 100%;
		background-image: linear-gradient(to right,rgba(0,0,0,0.3),rgba(34, 34, 34, 0.3) 100%);
		padding: 18px 20px 20px calc(100vw - 340px);
	}
	.item span{left: 20px;}
	#persontag{z-index: 3;opacity: 1;}
	.find a {flex-basis: calc(50vw - 60px);}
	#avatar{
		width: 330px;
		box-shadow: inset #161616 0px 0px 80px 40px;
		background-image: url(https://www.z4a.net/images/2022/10/13/70579450_p28_master1200.webp);
	}
}
@media screen and (max-width: 360px) {
	.find .item span{
		font-size: calc(8vw - 10px);
	}
	#persontag{
		font-size: calc(5.5vw - 4px);
		padding-left: 20px;
	}
}
@keyframes op1{
    0%{opacity:auto}
    100%{opacity: 0;}
}
@keyframes op2{
    0%{opacity: 0;}
    100%{opacity: auto;}
}
.ap{animation: op2 0.4s;}
.dap{animation: op1 0.4s;}
#terminal{
	display: none;
	width: 100%;
	height: 100%;
	position: relative;
}
.cursor {
	pointer-events: none;
	position: fixed;
	z-index: 99;
	display: block;
	transition: opacity .3s linear;
	opacity: 0;
	width: 4px;
	height: 4px;
	transform: translate(1.5px,1.5px);
}
.cursor.moving {
	opacity: 1;
}
.cursor::before {
	content: ' ';
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	top: 0;
	left: 0;
  
	opacity: 1;
	transition: opacity .3s linear;
	box-shadow: rgba(255, 255, 255, 0.5) 0 0 20px;
	transition: opacity 300ms linear, transform 100ms linear, border 300ms linear;
}
.cursor.expand::before {
	transition: opacity 300ms linear, transform 200ms linear, border 300ms linear;
	transform: scale(16);
	opacity: 0;
  }
.node {
	pointer-events: none;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	display: block;
	transition: opacity .3s linear;
	opacity: 0;
	width: 24px;
	height: 24px;
  }
.node.moving {
	opacity: 1;
  }
.node::before {
	content: ' ';
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: transparent;
	border-radius: 50%;
	top: 0;
	left: 0;
	border: 1px solid #ffffff;
	transform: scale(1.5);
	opacity: 1;
	transition: opacity 150ms linear, transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55), border 300ms linear, background-color 150ms linear;
}
  .node.expand::before {
	transform: scale(2.5);
	background-color: #ffffff;
	opacity: 0.2;
}
html {
	background: radial-gradient(ellipse, #111922 0%, #020203 100%);
  }
#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1034px 16626px #FFF , 1537px 1262px #FFF , 1414px 427px #FFF , 720px 1587px #FFF , 459px 1195px #FFF , 1141px 325px #FFF , 1095px 1315px #FFF , 946px 810px #FFF , 1037px 507px #FFF , 1266px 704px #FFF , 967px 58px #FFF , 1336px 1186px #FFF , 565px 1333px #FFF , 186px 268px #FFF , 941px 1578px #FFF , 1193px 1471px #FFF , 546px 1656px #FFF , 1351px 1978px #FFF , 1621px 530px #FFF , 218px 219px #FFF , 1870px 14px #FFF , 1740px 487px #FFF , 828px 1989px #FFF , 1589px 1450px #FFF , 154px 1406px #FFF , 670px 1410px #FFF , 862px 22px #FFF , 983px 626px #FFF , 1249px 1129px #FFF , 1169px 1200px #FFF , 1739px 1055px #FFF , 1934px 1577px #FFF , 1979px 1246px #FFF , 24px 70px #FFF , 1444px 1149px #FFF , 194px 1699px #FFF , 1052px 1662px #FFF , 1665px 1333px #FFF , 734px 1643px #FFF , 637px 590px #FFF , 324px 695px #FFF , 671px 954px #FFF , 968px 67px #FFF , 1942px 1909px #FFF , 1172px 655px #FFF , 578px 1837px #FFF , 483px 505px #FFF , 486px 1101px #FFF , 1948px 65px #FFF , 559px 935px #FFF , 448px 201px #FFF , 1521px 389px #FFF , 1987px 393px #FFF , 1633px 855px #FFF , 916px 799px #FFF , 536px 1781px #FFF , 1297px 79px #FFF , 1543px 154px #FFF , 1052px 453px #FFF , 1086px 765px #FFF , 1084px 1742px #FFF , 1254px 1271px #FFF , 1137px 803px #FFF , 1515px 393px #FFF , 1554px 1893px #FFF , 926px 1870px #FFF , 128px 1624px #FFF , 696px 1450px #FFF , 601px 931px #FFF , 1787px 413px #FFF , 1215px 1005px #FFF , 1060px 395px #FFF , 1083px 1289px #FFF , 1692px 1588px #FFF , 396px 279px #FFF , 1204px 815px #FFF , 349px 1239px #FFF , 672px 1419px #FFF , 573px 734px #FFF , 919px 62px #FFF , 1319px 1438px #FFF , 498px 1228px #FFF , 1416px 341px #FFF , 1454px 499px #FFF , 855px 318px #FFF , 274px 1773px #FFF , 152px 377px #FFF , 1495px 1992px #FFF , 1961px 1817px #FFF , 1334px 18px #FFF , 655px 1069px #FFF , 1960px 1223px #FFF , 118px 1985px #FFF , 1353px 12px #FFF , 622px 1221px #FFF , 198px 950px #FFF , 112px 1832px #FFF , 1212px 1879px #FFF , 225px 1347px #FFF , 719px 390px #FFF , 466px 1155px #FFF , 986px 731px #FFF , 1223px 1020px #FFF , 1102px 1534px #FFF , 1593px 1054px #FFF , 1745px 1716px #FFF , 392px 1547px #FFF , 1851px 718px #FFF , 1206px 1780px #FFF , 1459px 1171px #FFF , 1695px 1624px #FFF , 694px 692px #FFF , 521px 315px #FFF , 1785px 513px #FFF , 374px 50px #FFF , 949px 1154px #FFF , 754px 414px #FFF , 570px 77px #FFF , 225px 1056px #FFF , 257px 229px #FFF , 21px 155px #FFF , 972px 1786px #FFF , 719px 682px #FFF , 712px 1937px #FFF , 248px 540px #FFF , 239px 312px #FFF , 1459px 228px #FFF , 1865px 624px #FFF , 369px 1915px #FFF , 1281px 57px #FFF , 90px 739px #FFF , 1209px 511px #FFF , 682px 1242px #FFF , 124px 1094px #FFF , 1557px 364px #FFF , 1597px 1268px #FFF , 1928px 1236px #FFF , 1251px 724px #FFF , 1054px 1510px #FFF , 1296px 1482px #FFF , 945px 1030px #FFF , 1089px 1521px #FFF , 43px 1134px #FFF , 823px 1777px #FFF , 179px 36px #FFF , 57px 925px #FFF , 287px 134px #FFF , 1521px 1367px #FFF , 950px 976px #FFF , 1951px 849px #FFF , 524px 615px #FFF , 1161px 158px #FFF , 455px 731px #FFF , 1144px 1668px #FFF , 1005px 1038px #FFF , 263px 128px #FFF , 1401px 163px #FFF , 1772px 1131px #FFF , 144px 992px #FFF , 1082px 1781px #FFF , 416px 642px #FFF , 467px 725px #FFF , 886px 215px #FFF , 591px 831px #FFF , 905px 1150px #FFF , 1732px 1729px #FFF , 1198px 288px #FFF , 1763px 895px #FFF , 1618px 819px #FFF , 1422px 1698px #FFF , 889px 1057px #FFF , 1027px 478px #FFF , 789px 1299px #FFF , 1896px 1434px #FFF , 1673px 1343px #FFF , 344px 1275px #FFF , 695px 1328px #FFF , 1492px 1926px #FFF , 1716px 1219px #FFF , 731px 1846px #FFF , 273px 9px #FFF , 443px 106px #FFF , 1435px 1103px #FFF , 1214px 1453px #FFF , 1584px 948px #FFF , 75px 1450px #FFF , 437px 448px #FFF , 759px 608px #FFF , 1642px 762px #FFF , 981px 1695px #FFF , 819px 1425px #FFF , 978px 195px #FFF , 1621px 1271px #FFF , 1585px 1214px #FFF , 582px 355px #FFF , 626px 1504px #FFF , 770px 580px #FFF , 335px 1183px #FFF , 1706px 716px #FFF , 870px 1376px #FFF , 155px 1136px #FFF , 566px 1995px #FFF , 939px 1082px #FFF , 132px 1108px #FFF , 442px 1894px #FFF , 1559px 1089px #FFF , 1326px 409px #FFF , 1242px 649px #FFF , 1749px 227px #FFF , 1356px 1156px #FFF , 1815px 1734px #FFF , 1345px 1211px #FFF , 1210px 323px #FFF , 1782px 1808px #FFF , 230px 1051px #FFF , 435px 1576px #FFF , 1069px 1292px #FFF , 771px 828px #FFF , 1769px 1122px #FFF , 148px 136px #FFF , 1960px 1877px #FFF , 1265px 1186px #FFF , 948px 662px #FFF , 1482px 972px #FFF , 992px 611px #FFF , 1967px 1298px #FFF , 267px 1870px #FFF , 1130px 374px #FFF , 1560px 1395px #FFF , 1619px 1064px #FFF , 1993px 1150px #FFF , 1068px 695px #FFF , 173px 1110px #FFF , 1717px 1613px #FFF , 347px 1263px #FFF , 3px 1348px #FFF , 664px 1804px #FFF , 29px 1623px #FFF , 111px 724px #FFF , 297px 524px #FFF , 523px 1957px #FFF , 1107px 634px #FFF , 1594px 1152px #FFF , 857px 1069px #FFF , 1418px 32px #FFF , 1233px 1855px #FFF , 23px 1170px #FFF , 1890px 1242px #FFF , 1697px 927px #FFF , 336px 594px #FFF , 1895px 1153px #FFF , 582px 794px #FFF , 1242px 663px #FFF , 551px 1087px #FFF , 531px 460px #FFF , 1341px 199px #FFF , 362px 621px #FFF , 373px 79px #FFF , 1173px 1189px #FFF , 924px 836px #FFF , 712px 33px #FFF , 1005px 1842px #FFF , 24px 694px #FFF , 1456px 122px #FFF , 618px 1580px #FFF , 706px 188px #FFF , 1635px 979px #FFF , 1304px 1680px #FFF , 967px 232px #FFF , 279px 862px #FFF , 1652px 1566px #FFF , 13px 1535px #FFF , 1865px 1173px #FFF , 1765px 1760px #FFF , 996px 916px #FFF , 133px 380px #FFF , 529px 1686px #FFF , 850px 1134px #FFF , 198px 352px #FFF , 1361px 1321px #FFF , 839px 1092px #FFF , 1899px 1293px #FFF , 501px 1031px #FFF , 1698px 744px #FFF , 12px 129px #FFF , 804px 471px #FFF , 1969px 998px #FFF , 306px 730px #FFF , 421px 393px #FFF , 819px 496px #FFF , 560px 1154px #FFF , 694px 18px #FFF , 1132px 1816px #FFF , 916px 315px #FFF , 1917px 987px #FFF , 734px 1155px #FFF , 1719px 1309px #FFF , 974px 1017px #FFF , 1622px 1194px #FFF , 954px 1256px #FFF , 622px 967px #FFF , 1503px 726px #FFF , 334px 972px #FFF , 129px 1400px #FFF , 1263px 479px #FFF , 1315px 1484px #FFF , 1950px 118px #FFF , 1150px 1754px #FFF , 794px 108px #FFF , 229px 1726px #FFF , 1459px 88px #FFF , 867px 1601px #FFF , 946px 632px #FFF , 1173px 1205px #FFF , 225px 675px #FFF , 779px 1007px #FFF , 1029px 1392px #FFF , 929px 108px #FFF , 1267px 859px #FFF , 1981px 1835px #FFF , 697px 706px #FFF , 1423px 1710px #FFF , 1732px 606px #FFF , 1706px 846px #FFF , 456px 91px #FFF , 828px 1918px #FFF , 1819px 1970px #FFF , 1074px 919px #FFF , 406px 1064px #FFF , 1264px 832px #FFF , 848px 542px #FFF , 446px 1649px #FFF , 1694px 72px #FFF , 65px 1283px #FFF , 1356px 1799px #FFF , 48px 735px #FFF , 118px 1398px #FFF , 40px 422px #FFF , 1052px 1241px #FFF , 106px 277px #FFF , 152px 1458px #FFF , 560px 1929px #FFF , 1037px 1238px #FFF , 201px 573px #FFF , 1656px 1803px #FFF , 1491px 1033px #FFF , 1886px 188px #FFF , 657px 679px #FFF , 543px 1907px #FFF , 530px 1165px #FFF , 167px 1539px #FFF , 1657px 1596px #FFF , 1296px 1811px #FFF , 1453px 1410px #FFF , 299px 1583px #FFF , 157px 1124px #FFF , 1606px 290px #FFF , 512px 719px #FFF , 1557px 1987px #FFF , 1238px 1485px #FFF , 1912px 731px #FFF , 569px 476px #FFF , 1345px 1972px #FFF , 111px 217px #FFF , 1885px 632px #FFF , 1171px 422px #FFF , 699px 328px #FFF , 862px 1679px #FFF , 705px 888px #FFF , 1143px 627px #FFF , 544px 1205px #FFF , 1012px 1298px #FFF , 1680px 28px #FFF , 444px 880px #FFF , 624px 1195px #FFF , 1260px 1510px #FFF , 1745px 488px #FFF , 1273px 404px #FFF , 1465px 788px #FFF , 1261px 650px #FFF , 1506px 205px #FFF , 522px 1154px #FFF , 710px 405px #FFF , 855px 1140px #FFF , 1170px 1539px #FFF , 829px 1798px #FFF , 281px 152px #FFF , 1511px 260px #FFF , 196px 1150px #FFF , 1118px 1458px #FFF , 688px 1072px #FFF , 1030px 468px #FFF , 1440px 490px #FFF , 200px 1107px #FFF , 891px 1080px #FFF , 603px 1217px #FFF , 211px 1280px #FFF , 1685px 209px #FFF , 1964px 105px #FFF , 773px 1147px #FFF , 1274px 1625px #FFF , 167px 413px #FFF , 483px 1928px #FFF , 631px 1833px #FFF , 490px 1607px #FFF , 1016px 1184px #FFF , 1919px 1960px #FFF , 1736px 9px #FFF , 873px 1367px #FFF , 1929px 1193px #FFF , 539px 908px #FFF , 1541px 1205px #FFF , 197px 715px #FFF , 78px 1265px #FFF , 813px 284px #FFF , 1972px 1230px #FFF , 612px 79px #FFF , 896px 1241px #FFF , 1625px 950px #FFF , 1874px 100px #FFF , 1180px 1146px #FFF , 1935px 339px #FFF , 1362px 1005px #FFF , 1486px 1690px #FFF , 1467px 1570px #FFF , 1834px 842px #FFF , 1714px 1391px #FFF , 256px 1892px #FFF , 1355px 1620px #FFF , 1920px 1321px #FFF , 886px 138px #FFF , 1477px 1579px #FFF , 1285px 1360px #FFF , 403px 1491px #FFF , 335px 702px #FFF , 1561px 1627px #FFF , 1424px 498px #FFF , 1286px 693px #FFF , 1293px 1277px #FFF , 394px 1687px #FFF , 957px 39px #FFF , 76px 173px #FFF , 358px 975px #FFF , 420px 1950px #FFF , 356px 1968px #FFF , 285px 1206px #FFF , 1119px 1218px #FFF , 947px 1268px #FFF , 188px 1720px #FFF , 1951px 1283px #FFF , 1991px 1255px #FFF , 126px 1871px #FFF , 1473px 1804px #FFF , 843px 675px #FFF , 1461px 1333px #FFF , 1154px 1983px #FFF , 638px 1980px #FFF , 884px 1675px #FFF , 518px 1754px #FFF , 1106px 811px #FFF , 205px 141px #FFF , 1938px 1642px #FFF , 95px 65px #FFF , 893px 1743px #FFF , 692px 1053px #FFF , 1446px 222px #FFF , 447px 544px #FFF , 439px 1548px #FFF , 604px 271px #FFF , 1803px 1788px #FFF , 1916px 1639px #FFF , 553px 237px #FFF , 1317px 780px #FFF , 511px 1626px #FFF , 857px 342px #FFF , 779px 415px #FFF , 1925px 1814px #FFF , 457px 377px #FFF , 1687px 256px #FFF , 1242px 1290px #FFF , 381px 627px #FFF , 163px 1388px #FFF , 99px 655px #FFF , 303px 1754px #FFF , 96px 972px #FFF , 802px 464px #FFF , 1691px 1419px #FFF , 1680px 676px #FFF , 1574px 1124px #FFF , 1053px 1922px #FFF , 1133px 510px #FFF , 1657px 499px #FFF , 1167px 1966px #FFF , 699px 160px #FFF , 1036px 422px #FFF , 53px 1820px #FFF , 30px 1791px #FFF , 1679px 1615px #FFF , 459px 1297px #FFF , 1524px 1167px #FFF , 1508px 1790px #FFF , 940px 1468px #FFF , 913px 330px #FFF , 528px 105px #FFF , 1474px 1903px #FFF , 1211px 369px #FFF , 27px 915px #FFF , 536px 816px #FFF , 512px 1839px #FFF , 1332px 607px #FFF , 1875px 756px #FFF , 105px 270px #FFF , 152px 17px #FFF , 241px 814px #FFF , 926px 1620px #FFF , 572px 751px #FFF , 759px 1110px #FFF , 1571px 1939px #FFF , 1216px 1077px #FFF , 1805px 1612px #FFF , 1657px 1924px #FFF , 1171px 263px #FFF , 321px 501px #FFF , 906px 201px #FFF , 1255px 1522px #FFF , 495px 1206px #FFF , 1528px 1236px #FFF , 646px 48px #FFF , 1492px 1657px #FFF , 271px 1467px #FFF , 387px 881px #FFF , 1121px 1736px #FFF , 1756px 1227px #FFF , 432px 254px #FFF , 810px 1396px #FFF , 1530px 194px #FFF , 140px 182px #FFF , 208px 922px #FFF , 1585px 1625px #FFF , 345px 1106px #FFF , 1992px 1903px #FFF , 1016px 1963px #FFF , 1207px 60px #FFF , 922px 1294px #FFF , 1036px 1765px #FFF , 1635px 1791px #FFF , 10px 591px #FFF , 1306px 873px #FFF , 923px 573px #FFF , 102px 844px #FFF , 648px 1886px #FFF , 1506px 776px #FFF , 524px 507px #FFF , 1247px 40px #FFF , 1087px 1574px #FFF , 1153px 80px #FFF , 1692px 458px #FFF , 1422px 43px #FFF , 1853px 1469px #FFF , 711px 1747px #FFF , 603px 1807px #FFF , 730px 950px #FFF , 1373px 86px #FFF , 1753px 1221px #FFF , 77px 446px #FFF , 1369px 356px #FFF , 1680px 1636px #FFF , 1087px 180px #FFF , 1189px 653px #FFF , 1113px 1757px #FFF , 531px 214px #FFF , 197px 766px #FFF , 1496px 838px #FFF , 1611px 1204px #FFF , 1305px 585px #FFF , 701px 1496px #FFF , 221px 1020px #FFF , 1724px 1136px #FFF , 1035px 1521px #FFF , 1868px 1169px #FFF , 616px 1224px #FFF , 922px 779px #FFF , 47px 912px #FFF , 153px 614px #FFF , 1978px 1966px #FFF , 285px 1937px #FFF , 817px 509px #FFF , 113px 1040px #FFF , 1009px 136px #FFF , 1361px 837px #FFF , 1789px 1659px #FFF , 325px 1987px #FFF , 267px 1233px #FFF , 1316px 1097px #FFF , 334px 1840px #FFF , 1474px 1447px #FFF , 1940px 1698px #FFF , 1998px 616px #FFF , 593px 854px #FFF , 495px 598px #FFF , 1028px 505px #FFF , 1972px 13px #FFF , 770px 1865px #FFF , 723px 950px #FFF , 1601px 1822px #FFF , 1223px 1568px #FFF , 1654px 1352px #FFF , 446px 404px #FFF , 414px 885px #FFF , 880px 873px #FFF , 1896px 400px #FFF , 206px 1689px #FFF , 843px 286px #FFF , 1624px 55px #FFF , 898px 1754px #FFF , 1103px 875px #FFF , 278px 1579px #FFF , 1663px 870px #FFF , 1312px 361px #FFF , 914px 917px #FFF , 157px 518px #FFF , 1074px 979px #FFF , 1772px 178px #FFF , 226px 767px #FFF , 1163px 1459px #FFF , 471px 1824px #FFF , 1494px 891px #FFF , 1263px 1298px #FFF , 37px 861px #FFF , 1562px 873px #FFF , 1854px 952px #FFF , 1109px 103px #FFF , 1633px 959px #FFF , 1914px 1044px #FFF , 1228px 1197px #FFF , 99px 172px #FFF , 1237px 1575px #FFF , 1867px 435px #FFF , 233px 1240px #FFF , 1226px 982px #FFF , 473px 343px #FFF , 486px 221px #FFF , 1469px 598px #FFF , 1464px 1953px #FFF , 1440px 364px #FFF , 1362px 412px #FFF , 1966px 284px #FFF , 769px 1435px #FFF , 1865px 1540px #FFF , 1547px 118px #FFF , 2000px 51px #FFF , 374px 1829px #FFF , 898px 745px #FFF , 1443px 364px #FFF , 567px 1188px #FFF , 4px 107px #FFF , 1002px 1675px #FFF , 1295px 1586px #FFF , 1447px 372px #FFF , 883px 184px #FFF , 1341px 1978px #FFF , 183px 1360px #FFF , 1389px 746px #FFF , 808px 1110px #FFF , 1322px 69px #FFF , 968px 1209px #FFF , 294px 79px #FFF , 850px 1677px #FFF , 153px 1173px #FFF , 34px 1369px #FFF , 164px 801px #FFF , 985px 1354px #FFF , 339px 1519px #FFF , 469px 1227px #FFF , 1801px 484px #FFF , 259px 687px #FFF , 939px 572px #FFF , 1031px 782px #FFF , 267px 1381px #FFF , 776px 187px #FFF , 77px 872px #FFF , 933px 1186px #FFF , 838px 1542px #FFF , 924px 1848px #FFF , 828px 932px #FFF , 1305px 1977px #FFF , 320px 914px #FFF , 909px 938px #FFF , 1943px 1907px #FFF , 674px 1075px #FFF , 1051px 1016px #FFF , 1041px 375px #FFF , 1353px 1515px #FFF , 179px 941px #FFF , 1496px 714px #FFF , 728px 3px #FFF , 1295px 800px #FFF , 1208px 784px #FFF , 1720px 493px #FFF , 1400px 782px #FFF;
	animation: animStar 150s linear infinite;
  }
#stars:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1034px 16626px #FFF , 1537px 1262px #FFF , 1414px 427px #FFF , 720px 1587px #FFF , 459px 1195px #FFF , 1141px 325px #FFF , 1095px 1315px #FFF , 946px 810px #FFF , 1037px 507px #FFF , 1266px 704px #FFF , 967px 58px #FFF , 1336px 1186px #FFF , 565px 1333px #FFF , 186px 268px #FFF , 941px 1578px #FFF , 1193px 1471px #FFF , 546px 1656px #FFF , 1351px 1978px #FFF , 1621px 530px #FFF , 218px 219px #FFF , 1870px 14px #FFF , 1740px 487px #FFF , 828px 1989px #FFF , 1589px 1450px #FFF , 154px 1406px #FFF , 670px 1410px #FFF , 862px 22px #FFF , 983px 626px #FFF , 1249px 1129px #FFF , 1169px 1200px #FFF , 1739px 1055px #FFF , 1934px 1577px #FFF , 1979px 1246px #FFF , 24px 70px #FFF , 1444px 1149px #FFF , 194px 1699px #FFF , 1052px 1662px #FFF , 1665px 1333px #FFF , 734px 1643px #FFF , 637px 590px #FFF , 324px 695px #FFF , 671px 954px #FFF , 968px 67px #FFF , 1942px 1909px #FFF , 1172px 655px #FFF , 578px 1837px #FFF , 483px 505px #FFF , 486px 1101px #FFF , 1948px 65px #FFF , 559px 935px #FFF , 448px 201px #FFF , 1521px 389px #FFF , 1987px 393px #FFF , 1633px 855px #FFF , 916px 799px #FFF , 536px 1781px #FFF , 1297px 79px #FFF , 1543px 154px #FFF , 1052px 453px #FFF , 1086px 765px #FFF , 1084px 1742px #FFF , 1254px 1271px #FFF , 1137px 803px #FFF , 1515px 393px #FFF , 1554px 1893px #FFF , 926px 1870px #FFF , 128px 1624px #FFF , 696px 1450px #FFF , 601px 931px #FFF , 1787px 413px #FFF , 1215px 1005px #FFF , 1060px 395px #FFF , 1083px 1289px #FFF , 1692px 1588px #FFF , 396px 279px #FFF , 1204px 815px #FFF , 349px 1239px #FFF , 672px 1419px #FFF , 573px 734px #FFF , 919px 62px #FFF , 1319px 1438px #FFF , 498px 1228px #FFF , 1416px 341px #FFF , 1454px 499px #FFF , 855px 318px #FFF , 274px 1773px #FFF , 152px 377px #FFF , 1495px 1992px #FFF , 1961px 1817px #FFF , 1334px 18px #FFF , 655px 1069px #FFF , 1960px 1223px #FFF , 118px 1985px #FFF , 1353px 12px #FFF , 622px 1221px #FFF , 198px 950px #FFF , 112px 1832px #FFF , 1212px 1879px #FFF , 225px 1347px #FFF , 719px 390px #FFF , 466px 1155px #FFF , 986px 731px #FFF , 1223px 1020px #FFF , 1102px 1534px #FFF , 1593px 1054px #FFF , 1745px 1716px #FFF , 392px 1547px #FFF , 1851px 718px #FFF , 1206px 1780px #FFF , 1459px 1171px #FFF , 1695px 1624px #FFF , 694px 692px #FFF , 521px 315px #FFF , 1785px 513px #FFF , 374px 50px #FFF , 949px 1154px #FFF , 754px 414px #FFF , 570px 77px #FFF , 225px 1056px #FFF , 257px 229px #FFF , 21px 155px #FFF , 972px 1786px #FFF , 719px 682px #FFF , 712px 1937px #FFF , 248px 540px #FFF , 239px 312px #FFF , 1459px 228px #FFF , 1865px 624px #FFF , 369px 1915px #FFF , 1281px 57px #FFF , 90px 739px #FFF , 1209px 511px #FFF , 682px 1242px #FFF , 124px 1094px #FFF , 1557px 364px #FFF , 1597px 1268px #FFF , 1928px 1236px #FFF , 1251px 724px #FFF , 1054px 1510px #FFF , 1296px 1482px #FFF , 945px 1030px #FFF , 1089px 1521px #FFF , 43px 1134px #FFF , 823px 1777px #FFF , 179px 36px #FFF , 57px 925px #FFF , 287px 134px #FFF , 1521px 1367px #FFF , 950px 976px #FFF , 1951px 849px #FFF , 524px 615px #FFF , 1161px 158px #FFF , 455px 731px #FFF , 1144px 1668px #FFF , 1005px 1038px #FFF , 263px 128px #FFF , 1401px 163px #FFF , 1772px 1131px #FFF , 144px 992px #FFF , 1082px 1781px #FFF , 416px 642px #FFF , 467px 725px #FFF , 886px 215px #FFF , 591px 831px #FFF , 905px 1150px #FFF , 1732px 1729px #FFF , 1198px 288px #FFF , 1763px 895px #FFF , 1618px 819px #FFF , 1422px 1698px #FFF , 889px 1057px #FFF , 1027px 478px #FFF , 789px 1299px #FFF , 1896px 1434px #FFF , 1673px 1343px #FFF , 344px 1275px #FFF , 695px 1328px #FFF , 1492px 1926px #FFF , 1716px 1219px #FFF , 731px 1846px #FFF , 273px 9px #FFF , 443px 106px #FFF , 1435px 1103px #FFF , 1214px 1453px #FFF , 1584px 948px #FFF , 75px 1450px #FFF , 437px 448px #FFF , 759px 608px #FFF , 1642px 762px #FFF , 981px 1695px #FFF , 819px 1425px #FFF , 978px 195px #FFF , 1621px 1271px #FFF , 1585px 1214px #FFF , 582px 355px #FFF , 626px 1504px #FFF , 770px 580px #FFF , 335px 1183px #FFF , 1706px 716px #FFF , 870px 1376px #FFF , 155px 1136px #FFF , 566px 1995px #FFF , 939px 1082px #FFF , 132px 1108px #FFF , 442px 1894px #FFF , 1559px 1089px #FFF , 1326px 409px #FFF , 1242px 649px #FFF , 1749px 227px #FFF , 1356px 1156px #FFF , 1815px 1734px #FFF , 1345px 1211px #FFF , 1210px 323px #FFF , 1782px 1808px #FFF , 230px 1051px #FFF , 435px 1576px #FFF , 1069px 1292px #FFF , 771px 828px #FFF , 1769px 1122px #FFF , 148px 136px #FFF , 1960px 1877px #FFF , 1265px 1186px #FFF , 948px 662px #FFF , 1482px 972px #FFF , 992px 611px #FFF , 1967px 1298px #FFF , 267px 1870px #FFF , 1130px 374px #FFF , 1560px 1395px #FFF , 1619px 1064px #FFF , 1993px 1150px #FFF , 1068px 695px #FFF , 173px 1110px #FFF , 1717px 1613px #FFF , 347px 1263px #FFF , 3px 1348px #FFF , 664px 1804px #FFF , 29px 1623px #FFF , 111px 724px #FFF , 297px 524px #FFF , 523px 1957px #FFF , 1107px 634px #FFF , 1594px 1152px #FFF , 857px 1069px #FFF , 1418px 32px #FFF , 1233px 1855px #FFF , 23px 1170px #FFF , 1890px 1242px #FFF , 1697px 927px #FFF , 336px 594px #FFF , 1895px 1153px #FFF , 582px 794px #FFF , 1242px 663px #FFF , 551px 1087px #FFF , 531px 460px #FFF , 1341px 199px #FFF , 362px 621px #FFF , 373px 79px #FFF , 1173px 1189px #FFF , 924px 836px #FFF , 712px 33px #FFF , 1005px 1842px #FFF , 24px 694px #FFF , 1456px 122px #FFF , 618px 1580px #FFF , 706px 188px #FFF , 1635px 979px #FFF , 1304px 1680px #FFF , 967px 232px #FFF , 279px 862px #FFF , 1652px 1566px #FFF , 13px 1535px #FFF , 1865px 1173px #FFF , 1765px 1760px #FFF , 996px 916px #FFF , 133px 380px #FFF , 529px 1686px #FFF , 850px 1134px #FFF , 198px 352px #FFF , 1361px 1321px #FFF , 839px 1092px #FFF , 1899px 1293px #FFF , 501px 1031px #FFF , 1698px 744px #FFF , 12px 129px #FFF , 804px 471px #FFF , 1969px 998px #FFF , 306px 730px #FFF , 421px 393px #FFF , 819px 496px #FFF , 560px 1154px #FFF , 694px 18px #FFF , 1132px 1816px #FFF , 916px 315px #FFF , 1917px 987px #FFF , 734px 1155px #FFF , 1719px 1309px #FFF , 974px 1017px #FFF , 1622px 1194px #FFF , 954px 1256px #FFF , 622px 967px #FFF , 1503px 726px #FFF , 334px 972px #FFF , 129px 1400px #FFF , 1263px 479px #FFF , 1315px 1484px #FFF , 1950px 118px #FFF , 1150px 1754px #FFF , 794px 108px #FFF , 229px 1726px #FFF , 1459px 88px #FFF , 867px 1601px #FFF , 946px 632px #FFF , 1173px 1205px #FFF , 225px 675px #FFF , 779px 1007px #FFF , 1029px 1392px #FFF , 929px 108px #FFF , 1267px 859px #FFF , 1981px 1835px #FFF , 697px 706px #FFF , 1423px 1710px #FFF , 1732px 606px #FFF , 1706px 846px #FFF , 456px 91px #FFF , 828px 1918px #FFF , 1819px 1970px #FFF , 1074px 919px #FFF , 406px 1064px #FFF , 1264px 832px #FFF , 848px 542px #FFF , 446px 1649px #FFF , 1694px 72px #FFF , 65px 1283px #FFF , 1356px 1799px #FFF , 48px 735px #FFF , 118px 1398px #FFF , 40px 422px #FFF , 1052px 1241px #FFF , 106px 277px #FFF , 152px 1458px #FFF , 560px 1929px #FFF , 1037px 1238px #FFF , 201px 573px #FFF , 1656px 1803px #FFF , 1491px 1033px #FFF , 1886px 188px #FFF , 657px 679px #FFF , 543px 1907px #FFF , 530px 1165px #FFF , 167px 1539px #FFF , 1657px 1596px #FFF , 1296px 1811px #FFF , 1453px 1410px #FFF , 299px 1583px #FFF , 157px 1124px #FFF , 1606px 290px #FFF , 512px 719px #FFF , 1557px 1987px #FFF , 1238px 1485px #FFF , 1912px 731px #FFF , 569px 476px #FFF , 1345px 1972px #FFF , 111px 217px #FFF , 1885px 632px #FFF , 1171px 422px #FFF , 699px 328px #FFF , 862px 1679px #FFF , 705px 888px #FFF , 1143px 627px #FFF , 544px 1205px #FFF , 1012px 1298px #FFF , 1680px 28px #FFF , 444px 880px #FFF , 624px 1195px #FFF , 1260px 1510px #FFF , 1745px 488px #FFF , 1273px 404px #FFF , 1465px 788px #FFF , 1261px 650px #FFF , 1506px 205px #FFF , 522px 1154px #FFF , 710px 405px #FFF , 855px 1140px #FFF , 1170px 1539px #FFF , 829px 1798px #FFF , 281px 152px #FFF , 1511px 260px #FFF , 196px 1150px #FFF , 1118px 1458px #FFF , 688px 1072px #FFF , 1030px 468px #FFF , 1440px 490px #FFF , 200px 1107px #FFF , 891px 1080px #FFF , 603px 1217px #FFF , 211px 1280px #FFF , 1685px 209px #FFF , 1964px 105px #FFF , 773px 1147px #FFF , 1274px 1625px #FFF , 167px 413px #FFF , 483px 1928px #FFF , 631px 1833px #FFF , 490px 1607px #FFF , 1016px 1184px #FFF , 1919px 1960px #FFF , 1736px 9px #FFF , 873px 1367px #FFF , 1929px 1193px #FFF , 539px 908px #FFF , 1541px 1205px #FFF , 197px 715px #FFF , 78px 1265px #FFF , 813px 284px #FFF , 1972px 1230px #FFF , 612px 79px #FFF , 896px 1241px #FFF , 1625px 950px #FFF , 1874px 100px #FFF , 1180px 1146px #FFF , 1935px 339px #FFF , 1362px 1005px #FFF , 1486px 1690px #FFF , 1467px 1570px #FFF , 1834px 842px #FFF , 1714px 1391px #FFF , 256px 1892px #FFF , 1355px 1620px #FFF , 1920px 1321px #FFF , 886px 138px #FFF , 1477px 1579px #FFF , 1285px 1360px #FFF , 403px 1491px #FFF , 335px 702px #FFF , 1561px 1627px #FFF , 1424px 498px #FFF , 1286px 693px #FFF , 1293px 1277px #FFF , 394px 1687px #FFF , 957px 39px #FFF , 76px 173px #FFF , 358px 975px #FFF , 420px 1950px #FFF , 356px 1968px #FFF , 285px 1206px #FFF , 1119px 1218px #FFF , 947px 1268px #FFF , 188px 1720px #FFF , 1951px 1283px #FFF , 1991px 1255px #FFF , 126px 1871px #FFF , 1473px 1804px #FFF , 843px 675px #FFF , 1461px 1333px #FFF , 1154px 1983px #FFF , 638px 1980px #FFF , 884px 1675px #FFF , 518px 1754px #FFF , 1106px 811px #FFF , 205px 141px #FFF , 1938px 1642px #FFF , 95px 65px #FFF , 893px 1743px #FFF , 692px 1053px #FFF , 1446px 222px #FFF , 447px 544px #FFF , 439px 1548px #FFF , 604px 271px #FFF , 1803px 1788px #FFF , 1916px 1639px #FFF , 553px 237px #FFF , 1317px 780px #FFF , 511px 1626px #FFF , 857px 342px #FFF , 779px 415px #FFF , 1925px 1814px #FFF , 457px 377px #FFF , 1687px 256px #FFF , 1242px 1290px #FFF , 381px 627px #FFF , 163px 1388px #FFF , 99px 655px #FFF , 303px 1754px #FFF , 96px 972px #FFF , 802px 464px #FFF , 1691px 1419px #FFF , 1680px 676px #FFF , 1574px 1124px #FFF , 1053px 1922px #FFF , 1133px 510px #FFF , 1657px 499px #FFF , 1167px 1966px #FFF , 699px 160px #FFF , 1036px 422px #FFF , 53px 1820px #FFF , 30px 1791px #FFF , 1679px 1615px #FFF , 459px 1297px #FFF , 1524px 1167px #FFF , 1508px 1790px #FFF , 940px 1468px #FFF , 913px 330px #FFF , 528px 105px #FFF , 1474px 1903px #FFF , 1211px 369px #FFF , 27px 915px #FFF , 536px 816px #FFF , 512px 1839px #FFF , 1332px 607px #FFF , 1875px 756px #FFF , 105px 270px #FFF , 152px 17px #FFF , 241px 814px #FFF , 926px 1620px #FFF , 572px 751px #FFF , 759px 1110px #FFF , 1571px 1939px #FFF , 1216px 1077px #FFF , 1805px 1612px #FFF , 1657px 1924px #FFF , 1171px 263px #FFF , 321px 501px #FFF , 906px 201px #FFF , 1255px 1522px #FFF , 495px 1206px #FFF , 1528px 1236px #FFF , 646px 48px #FFF , 1492px 1657px #FFF , 271px 1467px #FFF , 387px 881px #FFF , 1121px 1736px #FFF , 1756px 1227px #FFF , 432px 254px #FFF , 810px 1396px #FFF , 1530px 194px #FFF , 140px 182px #FFF , 208px 922px #FFF , 1585px 1625px #FFF , 345px 1106px #FFF , 1992px 1903px #FFF , 1016px 1963px #FFF , 1207px 60px #FFF , 922px 1294px #FFF , 1036px 1765px #FFF , 1635px 1791px #FFF , 10px 591px #FFF , 1306px 873px #FFF , 923px 573px #FFF , 102px 844px #FFF , 648px 1886px #FFF , 1506px 776px #FFF , 524px 507px #FFF , 1247px 40px #FFF , 1087px 1574px #FFF , 1153px 80px #FFF , 1692px 458px #FFF , 1422px 43px #FFF , 1853px 1469px #FFF , 711px 1747px #FFF , 603px 1807px #FFF , 730px 950px #FFF , 1373px 86px #FFF , 1753px 1221px #FFF , 77px 446px #FFF , 1369px 356px #FFF , 1680px 1636px #FFF , 1087px 180px #FFF , 1189px 653px #FFF , 1113px 1757px #FFF , 531px 214px #FFF , 197px 766px #FFF , 1496px 838px #FFF , 1611px 1204px #FFF , 1305px 585px #FFF , 701px 1496px #FFF , 221px 1020px #FFF , 1724px 1136px #FFF , 1035px 1521px #FFF , 1868px 1169px #FFF , 616px 1224px #FFF , 922px 779px #FFF , 47px 912px #FFF , 153px 614px #FFF , 1978px 1966px #FFF , 285px 1937px #FFF , 817px 509px #FFF , 113px 1040px #FFF , 1009px 136px #FFF , 1361px 837px #FFF , 1789px 1659px #FFF , 325px 1987px #FFF , 267px 1233px #FFF , 1316px 1097px #FFF , 334px 1840px #FFF , 1474px 1447px #FFF , 1940px 1698px #FFF , 1998px 616px #FFF , 593px 854px #FFF , 495px 598px #FFF , 1028px 505px #FFF , 1972px 13px #FFF , 770px 1865px #FFF , 723px 950px #FFF , 1601px 1822px #FFF , 1223px 1568px #FFF , 1654px 1352px #FFF , 446px 404px #FFF , 414px 885px #FFF , 880px 873px #FFF , 1896px 400px #FFF , 206px 1689px #FFF , 843px 286px #FFF , 1624px 55px #FFF , 898px 1754px #FFF , 1103px 875px #FFF , 278px 1579px #FFF , 1663px 870px #FFF , 1312px 361px #FFF , 914px 917px #FFF , 157px 518px #FFF , 1074px 979px #FFF , 1772px 178px #FFF , 226px 767px #FFF , 1163px 1459px #FFF , 471px 1824px #FFF , 1494px 891px #FFF , 1263px 1298px #FFF , 37px 861px #FFF , 1562px 873px #FFF , 1854px 952px #FFF , 1109px 103px #FFF , 1633px 959px #FFF , 1914px 1044px #FFF , 1228px 1197px #FFF , 99px 172px #FFF , 1237px 1575px #FFF , 1867px 435px #FFF , 233px 1240px #FFF , 1226px 982px #FFF , 473px 343px #FFF , 486px 221px #FFF , 1469px 598px #FFF , 1464px 1953px #FFF , 1440px 364px #FFF , 1362px 412px #FFF , 1966px 284px #FFF , 769px 1435px #FFF , 1865px 1540px #FFF , 1547px 118px #FFF , 2000px 51px #FFF , 374px 1829px #FFF , 898px 745px #FFF , 1443px 364px #FFF , 567px 1188px #FFF , 4px 107px #FFF , 1002px 1675px #FFF , 1295px 1586px #FFF , 1447px 372px #FFF , 883px 184px #FFF , 1341px 1978px #FFF , 183px 1360px #FFF , 1389px 746px #FFF , 808px 1110px #FFF , 1322px 69px #FFF , 968px 1209px #FFF , 294px 79px #FFF , 850px 1677px #FFF , 153px 1173px #FFF , 34px 1369px #FFF , 164px 801px #FFF , 985px 1354px #FFF , 339px 1519px #FFF , 469px 1227px #FFF , 1801px 484px #FFF , 259px 687px #FFF , 939px 572px #FFF , 1031px 782px #FFF , 267px 1381px #FFF , 776px 187px #FFF , 77px 872px #FFF , 933px 1186px #FFF , 838px 1542px #FFF , 924px 1848px #FFF , 828px 932px #FFF , 1305px 1977px #FFF , 320px 914px #FFF , 909px 938px #FFF , 1943px 1907px #FFF , 674px 1075px #FFF , 1051px 1016px #FFF , 1041px 375px #FFF , 1353px 1515px #FFF , 179px 941px #FFF , 1496px 714px #FFF , 728px 3px #FFF , 1295px 800px #FFF , 1208px 784px #FFF , 1720px 493px #FFF , 1400px 782px #FFF;
  }
#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1745px 973px #FFF , 831px 980px #FFF , 695px 1424px #FFF , 1007px 891px #FFF , 1542px 994px #FFF , 121px 320px #FFF , 45px 1076px #FFF , 322px 855px #FFF , 1521px 1574px #FFF , 1952px 248px #FFF , 1961px 679px #FFF , 695px 987px #FFF , 966px 173px #FFF , 1401px 589px #FFF , 1257px 610px #FFF , 475px 632px #FFF , 1718px 219px #FFF , 1642px 232px #FFF , 759px 1017px #FFF , 20px 646px #FFF , 786px 394px #FFF , 129px 1479px #FFF , 1929px 353px #FFF , 1951px 1059px #FFF , 1310px 1972px #FFF , 1724px 1782px #FFF , 1295px 1080px #FFF , 288px 1191px #FFF , 541px 1642px #FFF , 451px 880px #FFF , 1911px 658px #FFF , 1067px 1857px #FFF , 1972px 724px #FFF , 1631px 621px #FFF , 1661px 201px #FFF , 439px 456px #FFF , 21px 259px #FFF , 1818px 131px #FFF , 941px 879px #FFF , 403px 309px #FFF , 1091px 1043px #FFF , 1959px 582px #FFF , 487px 1507px #FFF , 1485px 1853px #FFF , 670px 384px #FFF , 92px 1071px #FFF , 410px 512px #FFF , 741px 1856px #FFF , 391px 37px #FFF , 568px 685px #FFF , 928px 1992px #FFF , 142px 277px #FFF , 1806px 1641px #FFF , 929px 1368px #FFF , 1662px 491px #FFF , 1194px 564px #FFF , 1126px 1417px #FFF , 1149px 1957px #FFF , 313px 483px #FFF , 206px 1560px #FFF , 594px 472px #FFF , 839px 1453px #FFF , 1709px 494px #FFF , 287px 299px #FFF , 158px 1905px #FFF , 398px 119px #FFF , 1009px 1938px #FFF , 1204px 966px #FFF , 81px 965px #FFF , 1451px 1731px #FFF , 1889px 1166px #FFF , 695px 1872px #FFF , 373px 458px #FFF , 914px 709px #FFF , 1018px 1894px #FFF , 714px 1070px #FFF , 1413px 410px #FFF , 67px 234px #FFF , 1015px 216px #FFF , 1337px 569px #FFF , 1109px 422px #FFF , 433px 1722px #FFF , 506px 1410px #FFF , 1984px 1452px #FFF , 1599px 639px #FFF , 10px 1661px #FFF , 1518px 541px #FFF , 1465px 1941px #FFF , 735px 1579px #FFF , 568px 45px #FFF , 1705px 1121px #FFF , 1650px 590px #FFF , 519px 1089px #FFF , 1123px 1031px #FFF , 1771px 1924px #FFF , 1742px 1507px #FFF , 241px 1335px #FFF , 895px 28px #FFF , 780px 1876px #FFF , 1580px 1699px #FFF , 655px 373px #FFF , 930px 123px #FFF , 1187px 1864px #FFF , 296px 1596px #FFF , 1528px 693px #FFF , 8px 1267px #FFF , 1957px 1257px #FFF , 115px 388px #FFF , 540px 372px #FFF , 1855px 200px #FFF , 913px 1031px #FFF , 926px 1557px #FFF , 1398px 1912px #FFF , 604px 1553px #FFF , 505px 408px #FFF , 294px 1657px #FFF , 1835px 1361px #FFF , 779px 383px #FFF , 616px 1133px #FFF , 1825px 725px #FFF , 342px 813px #FFF , 1643px 1806px #FFF , 1189px 802px #FFF , 529px 362px #FFF , 1021px 1668px #FFF , 392px 163px #FFF , 776px 663px #FFF , 1641px 1445px #FFF , 850px 1039px #FFF , 979px 933px #FFF , 537px 1372px #FFF , 25px 257px #FFF , 867px 990px #FFF , 791px 1317px #FFF , 532px 9px #FFF , 1527px 962px #FFF , 175px 814px #FFF , 121px 1662px #FFF , 483px 341px #FFF , 297px 1473px #FFF , 1291px 260px #FFF , 49px 1141px #FFF , 1006px 1819px #FFF , 177px 915px #FFF , 1333px 1385px #FFF , 844px 1475px #FFF , 574px 1603px #FFF , 946px 442px #FFF , 984px 1148px #FFF , 1959px 1444px #FFF , 858px 90px #FFF , 200px 17px #FFF , 460px 1945px #FFF , 1869px 494px #FFF , 816px 625px #FFF , 1002px 399px #FFF , 887px 1938px #FFF , 476px 1704px #FFF , 654px 1364px #FFF , 1185px 78px #FFF , 692px 289px #FFF , 1098px 643px #FFF , 685px 1314px #FFF , 582px 135px #FFF , 1584px 713px #FFF , 1393px 480px #FFF , 591px 1375px #FFF , 860px 1440px #FFF , 761px 915px #FFF , 883px 860px #FFF , 32px 780px #FFF , 627px 960px #FFF , 1160px 805px #FFF , 1691px 92px #FFF , 1829px 881px #FFF , 31px 319px #FFF , 2px 364px #FFF , 603px 903px #FFF , 468px 454px #FFF , 944px 1496px #FFF , 1292px 606px #FFF , 1037px 944px #FFF , 698px 1769px #FFF , 1042px 1430px #FFF , 416px 1469px #FFF , 1172px 1564px #FFF , 1089px 1821px #FFF , 812px 855px #FFF , 1636px 1835px #FFF , 1698px 115px #FFF , 279px 628px #FFF , 232px 234px #FFF , 1442px 1599px #FFF , 467px 1991px #FFF , 824px 1437px #FFF , 892px 957px #FFF , 867px 913px #FFF , 1138px 1131px #FFF , 1910px 1826px #FFF , 1466px 1130px #FFF;
	animation: animStar 100s linear infinite;
  }
#stars2:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1745px 973px #FFF , 831px 980px #FFF , 695px 1424px #FFF , 1007px 891px #FFF , 1542px 994px #FFF , 121px 320px #FFF , 45px 1076px #FFF , 322px 855px #FFF , 1521px 1574px #FFF , 1952px 248px #FFF , 1961px 679px #FFF , 695px 987px #FFF , 966px 173px #FFF , 1401px 589px #FFF , 1257px 610px #FFF , 475px 632px #FFF , 1718px 219px #FFF , 1642px 232px #FFF , 759px 1017px #FFF , 20px 646px #FFF , 786px 394px #FFF , 129px 1479px #FFF , 1929px 353px #FFF , 1951px 1059px #FFF , 1310px 1972px #FFF , 1724px 1782px #FFF , 1295px 1080px #FFF , 288px 1191px #FFF , 541px 1642px #FFF , 451px 880px #FFF , 1911px 658px #FFF , 1067px 1857px #FFF , 1972px 724px #FFF , 1631px 621px #FFF , 1661px 201px #FFF , 439px 456px #FFF , 21px 259px #FFF , 1818px 131px #FFF , 941px 879px #FFF , 403px 309px #FFF , 1091px 1043px #FFF , 1959px 582px #FFF , 487px 1507px #FFF , 1485px 1853px #FFF , 670px 384px #FFF , 92px 1071px #FFF , 410px 512px #FFF , 741px 1856px #FFF , 391px 37px #FFF , 568px 685px #FFF , 928px 1992px #FFF , 142px 277px #FFF , 1806px 1641px #FFF , 929px 1368px #FFF , 1662px 491px #FFF , 1194px 564px #FFF , 1126px 1417px #FFF , 1149px 1957px #FFF , 313px 483px #FFF , 206px 1560px #FFF , 594px 472px #FFF , 839px 1453px #FFF , 1709px 494px #FFF , 287px 299px #FFF , 158px 1905px #FFF , 398px 119px #FFF , 1009px 1938px #FFF , 1204px 966px #FFF , 81px 965px #FFF , 1451px 1731px #FFF , 1889px 1166px #FFF , 695px 1872px #FFF , 373px 458px #FFF , 914px 709px #FFF , 1018px 1894px #FFF , 714px 1070px #FFF , 1413px 410px #FFF , 67px 234px #FFF , 1015px 216px #FFF , 1337px 569px #FFF , 1109px 422px #FFF , 433px 1722px #FFF , 506px 1410px #FFF , 1984px 1452px #FFF , 1599px 639px #FFF , 10px 1661px #FFF , 1518px 541px #FFF , 1465px 1941px #FFF , 735px 1579px #FFF , 568px 45px #FFF , 1705px 1121px #FFF , 1650px 590px #FFF , 519px 1089px #FFF , 1123px 1031px #FFF , 1771px 1924px #FFF , 1742px 1507px #FFF , 241px 1335px #FFF , 895px 28px #FFF , 780px 1876px #FFF , 1580px 1699px #FFF , 655px 373px #FFF , 930px 123px #FFF , 1187px 1864px #FFF , 296px 1596px #FFF , 1528px 693px #FFF , 8px 1267px #FFF , 1957px 1257px #FFF , 115px 388px #FFF , 540px 372px #FFF , 1855px 200px #FFF , 913px 1031px #FFF , 926px 1557px #FFF , 1398px 1912px #FFF , 604px 1553px #FFF , 505px 408px #FFF , 294px 1657px #FFF , 1835px 1361px #FFF , 779px 383px #FFF , 616px 1133px #FFF , 1825px 725px #FFF , 342px 813px #FFF , 1643px 1806px #FFF , 1189px 802px #FFF , 529px 362px #FFF , 1021px 1668px #FFF , 392px 163px #FFF , 776px 663px #FFF , 1641px 1445px #FFF , 850px 1039px #FFF , 979px 933px #FFF , 537px 1372px #FFF , 25px 257px #FFF , 867px 990px #FFF , 791px 1317px #FFF , 532px 9px #FFF , 1527px 962px #FFF , 175px 814px #FFF , 121px 1662px #FFF , 483px 341px #FFF , 297px 1473px #FFF , 1291px 260px #FFF , 49px 1141px #FFF , 1006px 1819px #FFF , 177px 915px #FFF , 1333px 1385px #FFF , 844px 1475px #FFF , 574px 1603px #FFF , 946px 442px #FFF , 984px 1148px #FFF , 1959px 1444px #FFF , 858px 90px #FFF , 200px 17px #FFF , 460px 1945px #FFF , 1869px 494px #FFF , 816px 625px #FFF , 1002px 399px #FFF , 887px 1938px #FFF , 476px 1704px #FFF , 654px 1364px #FFF , 1185px 78px #FFF , 692px 289px #FFF , 1098px 643px #FFF , 685px 1314px #FFF , 582px 135px #FFF , 1584px 713px #FFF , 1393px 480px #FFF , 591px 1375px #FFF , 860px 1440px #FFF , 761px 915px #FFF , 883px 860px #FFF , 32px 780px #FFF , 627px 960px #FFF , 1160px 805px #FFF , 1691px 92px #FFF , 1829px 881px #FFF , 31px 319px #FFF , 2px 364px #FFF , 603px 903px #FFF , 468px 454px #FFF , 944px 1496px #FFF , 1292px 606px #FFF , 1037px 944px #FFF , 698px 1769px #FFF , 1042px 1430px #FFF , 416px 1469px #FFF , 1172px 1564px #FFF , 1089px 1821px #FFF , 812px 855px #FFF , 1636px 1835px #FFF , 1698px 115px #FFF , 279px 628px #FFF , 232px 234px #FFF , 1442px 1599px #FFF , 467px 1991px #FFF , 824px 1437px #FFF , 892px 957px #FFF , 867px 913px #FFF , 1138px 1131px #FFF , 1910px 1826px #FFF , 1466px 1130px #FFF;
  }
#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1471px 445px #FFF , 1782px 116px #FFF , 1481px 690px #FFF , 254px 349px #FFF , 1921px 355px #FFF , 1818px 1128px #FFF , 1270px 1727px #FFF , 299px 1988px #FFF , 1250px 763px #FFF , 727px 1810px #FFF , 492px 648px #FFF , 1583px 1615px #FFF , 128px 356px #FFF , 340px 1741px #FFF , 586px 859px #FFF , 534px 1851px #FFF , 509px 1227px #FFF , 879px 439px #FFF , 31px 232px #FFF , 1642px 1023px #FFF , 735px 378px #FFF , 104px 1562px #FFF , 253px 549px #FFF , 1503px 1188px #FFF , 1211px 879px #FFF , 1185px 1566px #FFF , 588px 1968px #FFF , 1917px 813px #FFF , 139px 1787px #FFF , 489px 1950px #FFF , 287px 1847px #FFF , 631px 21px #FFF , 1795px 171px #FFF , 1310px 651px #FFF , 1570px 564px #FFF , 1966px 1503px #FFF , 1573px 765px #FFF , 844px 1205px #FFF , 965px 1039px #FFF , 1826px 695px #FFF , 480px 529px #FFF , 1924px 1204px #FFF , 1255px 1588px #FFF , 1247px 1772px #FFF , 656px 1643px #FFF , 399px 918px #FFF , 1253px 1337px #FFF , 251px 1009px #FFF , 506px 1143px #FFF , 1535px 1805px #FFF , 724px 976px #FFF , 1774px 1462px #FFF , 1118px 761px #FFF , 87px 43px #FFF , 504px 1933px #FFF , 228px 1913px #FFF , 223px 425px #FFF , 1425px 43px #FFF , 791px 352px #FFF , 1375px 915px #FFF , 432px 976px #FFF , 763px 1172px #FFF , 793px 1475px #FFF , 1673px 1410px #FFF , 1779px 597px #FFF , 1642px 780px #FFF , 262px 169px #FFF , 640px 314px #FFF , 760px 1611px #FFF , 437px 1096px #FFF , 909px 606px #FFF , 452px 1201px #FFF , 1907px 474px #FFF , 368px 746px #FFF , 556px 1145px #FFF , 816px 577px #FFF , 1485px 259px #FFF , 671px 1922px #FFF , 1433px 217px #FFF , 186px 1784px #FFF , 1322px 379px #FFF , 1237px 1281px #FFF , 890px 791px #FFF , 180px 203px #FFF , 1084px 1849px #FFF , 1289px 1551px #FFF , 897px 200px #FFF , 49px 373px #FFF , 1149px 167px #FFF , 1511px 82px #FFF , 415px 440px #FFF , 773px 1660px #FFF , 1579px 821px #FFF , 1031px 56px #FFF , 384px 468px #FFF , 601px 1921px #FFF , 1167px 1062px #FFF , 510px 1906px #FFF , 558px 705px #FFF , 1072px 359px #FFF;
	animation: animStar 50s linear infinite;
  }
#stars3:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1471px 445px #FFF , 1782px 116px #FFF , 1481px 690px #FFF , 254px 349px #FFF , 1921px 355px #FFF , 1818px 1128px #FFF , 1270px 1727px #FFF , 299px 1988px #FFF , 1250px 763px #FFF , 727px 1810px #FFF , 492px 648px #FFF , 1583px 1615px #FFF , 128px 356px #FFF , 340px 1741px #FFF , 586px 859px #FFF , 534px 1851px #FFF , 509px 1227px #FFF , 879px 439px #FFF , 31px 232px #FFF , 1642px 1023px #FFF , 735px 378px #FFF , 104px 1562px #FFF , 253px 549px #FFF , 1503px 1188px #FFF , 1211px 879px #FFF , 1185px 1566px #FFF , 588px 1968px #FFF , 1917px 813px #FFF , 139px 1787px #FFF , 489px 1950px #FFF , 287px 1847px #FFF , 631px 21px #FFF , 1795px 171px #FFF , 1310px 651px #FFF , 1570px 564px #FFF , 1966px 1503px #FFF , 1573px 765px #FFF , 844px 1205px #FFF , 965px 1039px #FFF , 1826px 695px #FFF , 480px 529px #FFF , 1924px 1204px #FFF , 1255px 1588px #FFF , 1247px 1772px #FFF , 656px 1643px #FFF , 399px 918px #FFF , 1253px 1337px #FFF , 251px 1009px #FFF , 506px 1143px #FFF , 1535px 1805px #FFF , 724px 976px #FFF , 1774px 1462px #FFF , 1118px 761px #FFF , 87px 43px #FFF , 504px 1933px #FFF , 228px 1913px #FFF , 223px 425px #FFF , 1425px 43px #FFF , 791px 352px #FFF , 1375px 915px #FFF , 432px 976px #FFF , 763px 1172px #FFF , 793px 1475px #FFF , 1673px 1410px #FFF , 1779px 597px #FFF , 1642px 780px #FFF , 262px 169px #FFF , 640px 314px #FFF , 760px 1611px #FFF , 437px 1096px #FFF , 909px 606px #FFF , 452px 1201px #FFF , 1907px 474px #FFF , 368px 746px #FFF , 556px 1145px #FFF , 816px 577px #FFF , 1485px 259px #FFF , 671px 1922px #FFF , 1433px 217px #FFF , 186px 1784px #FFF , 1322px 379px #FFF , 1237px 1281px #FFF , 890px 791px #FFF , 180px 203px #FFF , 1084px 1849px #FFF , 1289px 1551px #FFF , 897px 200px #FFF , 49px 373px #FFF , 1149px 167px #FFF , 1511px 82px #FFF , 415px 440px #FFF , 773px 1660px #FFF , 1579px 821px #FFF , 1031px 56px #FFF , 384px 468px #FFF , 601px 1921px #FFF , 1167px 1062px #FFF , 510px 1906px #FFF , 558px 705px #FFF , 1072px 359px #FFF;
}
@keyframes animStar {
	0% {
	  transform: translateY(0px) translateX(0px);opacity: 0;
	}
	10%{transform: translateY(-200px) translateX(100px);opacity: 1;}
	90%{transform: translateY(-1800px) translateX(900px);opacity: 1;}
	100% {
	  transform: translateY(-2000px) translateX(1000px);opacity: 0;
	}
}
#scene{
	z-index: -99;
	position: fixed;
	width: 100%;
	height: 100vh;
}
#girl{
	background-image: url(https://www.z4a.net/images/2023/07/18/girl.png);
	height: 700px;
	width: 400px;
	background-position: center;
	background-size: cover;
	position: relative;
	left: calc(100vw - 700px) !important;
	top: 120px !important;
	z-index: 10;
}
#quote{
	position: fixed;
	width: 1050px;
	right: 60px;
	bottom: 40px;
	font-size: 40px;
	line-height: 60px;
	font-weight: bold;
	z-index: -1;
	font-family: 'segoe script';
	text-align: right;
	text-shadow: 0px 0px 30px black;
	font-style: italic;
}