* {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	cursor: none;
	color: #fff;
	text-decoration: none;
	position: relative;
}
html::selection {color: #111922;background-color: white;}
html {background: radial-gradient(ellipse, #111922 0%, #020203 100%)}
::-webkit-scrollbar{display:none}
.cursor {
    pointer-events: none;
    position: fixed;
    z-index: 10;
    display: block;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    -o-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
	opacity: 0;
}
.cursor.moving {
    opacity: 1;
}
.cursor::before {
    content: ' ';
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    -o-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}
.cursor.expand::before {
    opacity: 0;
}
.node {
	pointer-events: none;
	position: fixed;
	display: block;
	transition: opacity .3s linear;
	opacity: 0;
	height: 26px;
	width: 26px;
	z-index: 99;
}
.node.moving {opacity: 1;}
.node::before {
	content: ' ';
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 50%;
	border: 1px solid #ffffff;
	transform: scale(1.5);
	transition: opacity 150ms linear, transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55), border 300ms linear, background-color 150ms linear;
}
  .node.expand::before {
	transform: scale(2.5);
	background-color: #ffffff;
	opacity: 0.2;
}
#background{
	z-index: -99;
	position: fixed;
	width: 100%;
	height: 100%;
}
#girl{
	background-image: url(https://www.z4a.net/images/2023/07/22/girl.webp);
	height: 700px;
	width: 400px;
	background-position: center;
	background-size: cover;
	left: calc(100vw - 700px) !important;
	top: 110px !important;
}
#quote{
	position: fixed;
	right: 40px;
	bottom: 30px;
	font-size: 30px;
	line-height: 60px;
	z-index: -1;
	font-family: 'segoe script';
	text-align: right;
	text-shadow: 0px 0px 30px black;
	font-style: italic;
}
#main{
	width: 640px;
    padding: 40px;
	z-index: 1;
}
.chtitle {
    padding-bottom: 20px;
    font-size: 26px;
    letter-spacing: .2em;
    color: hsla(0, 0%, 100%, .6);
	line-height: 26.6px;
}
.chtitle:after {
    content: "";
    display: block;
    width: 10%;
    height: 5px;
    background-color: hsla(0, 0%, 100%, .6);
    margin-top: 12px;
}
#clear {
    background-color: #222222;
    border-radius: 20px;
    height: 200px;
    overflow: hidden;
	margin-bottom: 30px;
	border: 1px #3c3c3c solid;
}
#avatar {
    height: 200px;
    width: 300px;
	position: static;
    background-size: cover;
    background-position: center;
	background-image: linear-gradient(to right,rgba(34,34,34,0) 0%,rgba(34,34,34,0) 160px,rgba(34,34,34,0.6) 220px,rgba(34,34,34,0.9) 270px,rgba(34,34,34) 300px),url(https://www.z4a.net/images/2022/10/13/70579450_p28_master1200.webp);
}
#persontag {
    padding: 20px 20px 20px 80px;
    line-height: 40px;
    font-size: 15.5px;
	position: absolute;
	right: 0;
	top: 0;
	background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(34, 34, 34, 0.6) 80px);
	width: 370px;
	color: rgba(255, 255, 255, 0.8);
}
@keyframes op1{
    0%{opacity:1}
    100%{opacity: 0;}
}
@keyframes op2{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.ap{animation: op2 0.4s;}
.dap{animation: op1 0.4s;}
#terminal{
	display: none;
	width: 100%;
	height: 100%;
}
#persontag .tag{
	display: inline-block;
	transition: 0.3s;
}
#persontag .tag:hover{
	margin: 0 3px;
	transition: 0.6s;
}
#morelink{
	right: 20px;
	bottom: 20px;
	background-color: rgba(255, 255, 255, 0.15);
}
.bt{
	z-index: 5;
	border-radius: 32px;
	height: 32px;
	width: 32px;
	text-align: center;
	line-height: 32px;
	position: absolute;
	transition: 0.1s;
}
.bt:hover{transform: scale(1.1);}
.bt:hover i{color: white;}
.bt i{
	font-size: 20px;
	color: rgba(255, 255, 255, 0.5);
}
#linkbox a {
	flex-basis: 140px;
	margin: 0 20px 20px 0;
	flex-grow: 1;
	transition: 0.3s;
}
#linkbox a:hover{
	flex-grow: 10;
	transition: 0.6s;
}
#linkbox{
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 20px);
	margin-bottom: 10px;
}
#linkbox .item {
    height: 90px;
    line-height: 90px;
    transition: all .2s;
    overflow: hidden;
    border-radius: 16px;
}
.item span{
	position: absolute;
	left: 30px;
	letter-spacing:.1em;
	font-weight: bold;
}
#linkbox .item .inner {
    z-index: 5;
	height: 100%;
}
#linkbox .item .bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    transition: all .15s;
    height: 100%;
}
#linkbox .item i {
    font-size: 90px;
    position: absolute;
    right: 10px;
    bottom: -20px;
    color: rgba(255, 255, 255, 0.35);
    transition: 0.6s;
	filter: blur(10px);
	will-change: filter,right,font-size,bottom,color;
}
#linkbox a:hover i{
	bottom: 0;
	font-size: 40px;
	color: #fff;
	right: 20px;
	filter: blur(0px);
}
#linkbox .item span {
    display: inline-block;
    width: 90px;
    font-size: 20px;
	color: rgba(255, 255, 255, 0.6);
	transition: 0.3s;
}
#linkbox .item:hover span{
	transition: 0.6s;
	color: #fff;
}
#workbox{
	height: 200px;
	border-radius: 20px;
	white-space: nowrap;
	background-color: #222222;
	overflow: hidden;
	box-shadow: inset 0 0 30px rgba(18, 18, 18);
	overflow-x: scroll;
	overscroll-behavior:none;
}
.project{
	height: 160px;
	width: 240px;
	background-color: #272727;
	border-radius: 20px;
	display: inline-block;
	margin: 20px 18px 20px 0;
	border: 1px #2e2e2e solid;
	padding: 20px;
	vertical-align: top;
}
.project i{
	display: block;
	font-size: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
	color: #d0d0d0;
}
.project h3{
	color: #d0d0d0;
	display: inline-block;
	font-size: 16px;
	margin-left: 2px;
}
.project h3:hover{
	text-decoration: underline;
}
.project p{
	color: #a9a9a9;
	margin-top: 14px;
	font-size: 14.5px;
}
.language{
	position: absolute;
	bottom: 20px;
	left: 15px;
}
.language div{
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	color: #a9a9a9;
}
.language div::before{
	content: '';
	background-color: var(--color);
	height: 10px;
	width: 10px;
	border-radius: 10px;
	display: inline-block;
	margin: 0 5px;
}
@media screen and (max-width:640px) {
	#main{
		width: 100vw;
		padding: 20px;
	}
	#linkbox a {flex-basis: calc(33vw - 55px);}
	#workbox{
		border-radius: 0;
		width: 100vw;
		left: -20px;
	}
	#background{left: -1000px;}
	#quote{display: none;}
	#invert{display: none;}
}
@media screen and (max-width: 570px) {
	#persontag{
		width: 100%;
		background: rgba(0,0,0,0.3);
		padding: 18px 20px 20px calc(100vw - 340px);
	}
	.item span{left: 20px;}
	#persontag{z-index: 3;}
	#linkbox a {flex-basis: calc(50vw - 60px);}
}
@media screen and (max-width: 400px) {
	#avatar{
		width: 100%;
		box-shadow: inset #161616 0px 0px 80px 40px;
		background-image: url(https://www.z4a.net/images/2022/10/13/70579450_p28_master1200.webp);
	}
}
@media screen and (max-width: 360px) {
	#linkbox .item span{
		font-size: calc(8vw - 10px);
	}
	#persontag{
		font-size: calc(5.5vw - 4px);
		padding-left: 20px;
	}
}